            <!-- title page -->
            <section class="flat-title-page inner"> 
                <img class="absolute mark-page" src="/assets/images/mark/mark-header-04.png" alt=""> 
                    <img class="absolute mark-page2 animate-rotate" src="/assets/images/mark/mark-header-01.png" alt="">
                    <img class="absolute mark-page3" src="/assets/images/mark/mark-header-02.png" alt="">
                    <img class="absolute mark-page4" src="/assets/images/mark/mark-header-03.png" alt="">
                    <img class="absolute mark-page5" src="/assets/images/mark/mark-header-05.png" alt="">      
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="heading">İhale Detayları<span class="text-color-3"></span></h1>
                            </div>                        
                        </div>
                    </div>
                </div>                    
            </section>

            <div class="tf-section flat-auctions-details">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="wrap-img">
                                <div class="img-detail">
                                    <div class="media">
                                        <img class="" src="{{post.post_image}}" alt=""> 
                                    </div>
                                    <h6 class="tags text-t">1 Adet</h6>  
                                </div>
                                {{!-- <div class="img-detail">
                                    <div class="media">
                                        <img class="" src="{{post.post_image}}" alt=""> 
                                    </div>
                                </div>
                                <div class="img-detail">
                                    <div class="media">
                                        <img class="" src="{{post.post_image}}" alt=""> 
                                    </div>
                                </div>   --}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="post">
                                <h2 class="fw-5 mt-2">{{post.title}}</h2>
                                <div class="meta-info mb-17">
                                    <div class="author">
                                        <div class="avatar">
                                            <img src="/assets/images/avatar/avt-01.png" alt="">
                                            <img class="check" src="/assets/images/icon/author-check.svg" alt="">
                                        </div>
                                        <div class="info">
                                            <h5><a class="text-color-3" href="author-profile.html"> Ticaret Bakanlığı</a> </h5>
                                            <div class="date"> <span class="text-color-6"> @ Araçlar</span></div>                                           
                                        </div>
                                    </div>                                  
                                </div>  
                                <div class="box-price flat-price flex">                                              
                                    <div class="price flex">
                                        <!--<img class="" src="/assets/images/icon/icon-diamond.svg" alt="">-->
                                        <div class="title-price"> 234.000 ₺</div>
                                    </div> 
                                    <div class="flex">
                                        <p></p> 
                                        <div class="star">
                                            <i class="fas fa-star"></i> 
                                            <i class="fas fa-star"></i> 
                                            <i class="fas fa-star"></i> 
                                            <i class="fas fa-star"></i> 
                                            <i class="fas fa-star"></i> 
                                        </div>      
                                    </div>                                                  
                                </div>
                                <p class="texts">
{{post.content}}
</p>
                                <div class="information flex">
                                    <div class="column column-1">
                                        <h4 class="title-1 fw-5 text-color-3">Yakıt Tipi: <span class="">Benzin+LPG</span></h4>
                                        <h4 class="fw-5 text-color-3">Yıl: <span class="">1991</span></h4>
                                    </div>
                                    <div class="column column-2">
                                        <h4 class="title-1 fw-5 text-color-3">İlan Tarihi: <span class="">03/ 12/ 2022</span></h4>
                                        <h4 class="fw-5 text-color-3">Kategori: <span class="">Araçlar</span></h4>                                  
                                    </div>                                    
                                </div>
                                <div class="featured-countdown">
                                    <h3 class="flex"><span class="title-countdown">Bitiş Süresi - </span>
                                    <span class="js-countdown" data-timer="0187600" data-labels=" :  ,  : , : , "></span></h3>
                                </div>
                                <div class="button-place-bid">
                                    <a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button btn-3"><span>Teklif Ver</span></a>
                                </div>
                                <div class="flat-tabs themesflat-tabs">
                                    <ul class="menu-tab tab-title">
                                        <li class="item-title active">
                                            <h3 class="inner">Teklif Geçmişi</h3>
                                        </li>
                                        <li class="item-title">
                                            <h3 class="inner">Bilgi</h3>
                                        </li>
                                        <li class="item-title">
                                            <h3 class="inner">Detaylar</h3>
                                        </li>
                                    </ul>
                                    <div class="content-tab">
                                        <div class="content-inner tab-content">
                                            <ul class="bid-history-list list-1">
                                                <li>
                                                    <div class="content">
                                                        <div class="meta-info flex-one style">
                                                            <div class="author">
                                                                <div class="avatar">
                                                                    <img src="/assets/images/avatar/avt-01.png" alt="">
                                                                    <img class="check" src="/assets/images/icon/author-check.svg" alt="">
                                                                </div>
                                                                <div class="info">
                                                                    <h5><a class="text-color-3" href="author-profile.html"> 0xD10745109E96dBdCAe97D04C890EF30d2a91EEcA</a> </h5>
                                                                    <div class="date"> Teklif Verdi <span class="text-color-6"> </span></div>                                           
                                                                </div>
                                                            </div> 
                                                            <div class="flat-price">                                              
                                                                <div class="price flex">
                                                                  <!--  <img class="" src="/assets/images/icon/icon-price.svg" alt="">-->
                                                                    <div class="title-price"> 195.000₺  <p class="font-2"> </p> </div>                                                                   
                                                                </div>                                                                                        
                                                            </div>                                 
                                                        </div>                                                     
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <div class="meta-info flex-one style">
                                                            <div class="author">
                                                                <div class="avatar">
                                                                    <img src="/assets/images/avatar/avt-04.jpg" alt="">
                                                                    <img class="check" src="/assets/images/icon/author-check.svg" alt="">
                                                                </div>
                                                                <div class="info">
                                                                    <h5> <a class="text-color-3" href="author-profile.html"> 0xD10745109E96dBdCAe97D04C890EF30d2a91EEcA</a> </h5>
                                                                    <div class="date"> Teklif Verdi <span class="text-color-6"> </span></div>                                           
                                                                </div>
                                                            </div> 
                                                            <div class="flat-price">                                              
                                                                <div class="price flex">
                                                                  <!--  <img class="" src="/assets/images/icon/icon-price.svg" alt="">-->
                                                                    <div class="title-price"> 185.000 ₺  <p class="font-2"> </p> </div>
                                                                   
                                                                </div>                                                                                        
                                                            </div>                                 
                                                        </div>                                                     
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <div class="meta-info flex-one style">
                                                            <div class="author">
                                                                <div class="avatar">
                                                                    <img src="/assets/images/avatar/avt-05.jpg" alt="">
                                                                    <img class="check" src="/assets/images/icon/author-check.svg" alt="">
                                                                </div>
                                                                <div class="info">
                                                                    <h5><a class="text-color-3" href="author-profile.html"> 0xD10745109E96dBdCAe97D04C890EF30d2a91EEcA</a> </h5>
                                                                    <div class="date"> Teklif Verdi<span class="text-color-6"> </span></div>                                           
                                                                </div>
                                                            </div> 
                                                            <div class="flat-price">                                              
                                                                <div class="price flex">
                                                                    <!--<img class="" src="/assets/images/icon/icon-price.svg" alt="">-->
                                                                    <div class="title-price"> 180.000 ₺  <p class="font-2"> </p> </div>
                                                                   
                                                                </div>                                                                                        
                                                            </div>                                 
                                                        </div>                                                     
                                                    </div>
                                                </li> 
                                            </ul>
                                        </div>
                                        <div class="content-inner tab-content">                                               
                                            <ul class="bid-history-list list-2">
                                                <li>
                                                    <div class="content">
                                                        <div class="meta-info flex-one style">
                                                            <div class="author">
                                                                <div class="avatar">
                                                                    <img src="/assets/images/avatar/avt-05.jpg" alt="">
                                                                    <img class="check" src="/assets/images/icon/author-check.svg" alt="">
                                                                </div>
                                                                <div class="info">
                                                                    <h5> <a class="text-color-3" href="author-profile.html"> Ticaret Bakanlığı</a> </h5>
                                                                    <div class="date"> İhale Açıldı <span class="text-color-6"> @ Araçlar</span></div>                                           
                                                                </div>
                                                            </div>                                                                                        
                                                        </div>                                                     
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="content-inner tab-content">
                                            <div class="provenance">
                                                <p>Araç motor-şasi numarası tespitine ilişkin TMMOB Makina Mühendisleri Odası Ankara Şubesi'nden alınan rapora istinaden şasi numarasının bulunduğu parça üzerinde işlemler yapılmış olduğu, motor numarasının ise silinmiş, üzerine işlem yapılmış olduğu raporlanmıştır. Neticesinde ise tescil işlemlerine esas olmak üzere Türkiye Noterler Birliği Ankara 60. Noterliği'nden 14102022TNB538174 şasi ve 14102022TNBM6H1RV motor numarası tahsis edilmiştir. Alınan bu motor-şasi numarasının TSE AİTM Münferit Araç Uygunluk Belgesi çıkarılmadan önce alıcı tarafından motor-şasi üzerine çaktırılacaktır.</p>
                                            </div>
                                        </div>
                                    </div>                           
                                </div>
                              
                            </div>                                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page -->
    </div>
  